

<div class="products row">

<% @products.each do |product| %>
<div id="product-<%=product.id%>" class="col s4 ">
  <div class="card med white">
    <div class="card-image waves-effect waves-block waves-light">
      <%= image_tag product.photo, :size => "200x300"%>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><%= product.name %><span class="price">$<%= product.price%></span><i class="material-icons right">more_vert</i></span>
      <p>
        <%= link_to add_to_cart_path(product_id: product.id), method: :post, class:"btn-floating btn-med waves-effect waves-light blue-grey" do %>
        <i class="material-icons">add</i>
        <% end %>
    </p>
    </div>
    <div class="card-reveal">
      <span class="card-title orange-text text-darken-4"><%= product.name%><i class="material-icons right">close</i></span>
      <p><%= product.description %></p>
    </div>
  </div>
</div>
  <% end %>
</div>
