

<div class="products row col s12">

<% @products.each do|product| %>
<div id= "product-<%= product.id %>" class="col s4 ">
  <div class="card med white">
    <div class="card-image waves-effect waves-block waves-light">
      <%= image_tag product.photo, :size => "300x300"%>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><%= product.name %><span class="price">$<%= product.price%></span><i class="material-icons right">more_vert</i></span>
      <p>

      </p>
    </div>
    <div class="card-reveal">
      <span class="card-title orange-text text-darken-4"><%= product.name%><i class="material-icons right">close</i></span>
      <p><%= product.description %></p>
    </div>
  </div>
</div>
  <% end %>
</div>
