<!DOCTYPE html>
<html>
<head>
  <title>BJTech</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--Import Google Icon Font-->
     <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!--Import materialize.css-->

     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   </head>
<body>

  <div class ="header-style">
 <%= render 'layouts/header' %>
</div>

<% flash.each do |type, content| %>
    <% if content.respond_to?('each')
        content.each do |item| %>
            <%= render 'layouts/alert',
                type: type,
                content: item %>
        <% end %>
    <% else %>
        <%= render 'layouts/alert',
                type: type,
                content: content %>
    <% end %>

<% end %>

<%= yield %>


</body>
</html>
